@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.mdx-editor-container * {
  all: initial;
  all: unset;
  font: inherit;
}

.mdx-editor-container * {
  all: revert;
  outline: none;
}
